<script type="text/ejs" id="article_01_dataStructure">


<header class="main-header">
			<span class="header-span">教程（基本篇）</span>
			<h1 class="header-h1">01.关于数据模型的功能</h1>
		</header>
		<article>
			<h2 class="translate-cn">功能</h2>
			<h2 class="translate-jp hidden">機構</h2>

			<p class="translate-cn">在这个教程中，我们将学习hifive用于支持数据层的数据模型的结构构造。<br>

如果使用了数据模型结构，对于那些不含有预先明确了类型的JavaScript程序来说，可以实现：「检查带入值（预想）的"类型"・（值的范围等）"规则"」、
「属性值变更的检测(发出事件)」、「检查是否带入了事先未定义的属性」等等。<br>
并且，如果同时组合使用ver.1.1版本追加的数据绑定功能，<br>
改变数据模型时可以在视图中自动反映出来。<br>
通过这些功能，可以更专注于只在JavaScript代码中对数据进行操作，<br>
从而弱化了对视图操作的依赖。
			</p>
			<p class="translate-jp hidden"> このチュートリアルでは、hifiveのデータ層のサポートである「データモデル」機構について学習します。<br>
データモデル機構を使用すると、明示的な型を持たないJavaScriptにおいて<br>
「値代入時の（仮想的な）"型"・（値の範囲などの）"制約"違反のチェック」、<br>
「プロパティ値の変更検知(イベントの送出)」「事前に定義していないプロパティへの不正な代入のチェック」などが可能になります。<br>
また、ver.1.1で同時に追加されたデータバインド機構と組み合わせることで、<br>
モデルを操作するとその変更を自動的にビューに反映させることが可能になります。<br>
これにより、JavaScriptコードはデータ操作に専念できるようになり、<br>
ビューへの依存をさらに減らすことができます。
 </p>

		</article>
</script>