<script type="text/ejs" id="list">
<tbody>
	[% for (var i = 0, len = data.length; i < len; i++) { %]
	<tr class="rows" data-tr-id= "[%= i %]">
  		<td class="content">
			<span>[%= data[i].isbn %]</span>
		</td>
		<td class="content">
			<span>[%= data[i].title %]</span>
		</td>
		<td class="content">
			<span>[%= data[i].author %]</span>
		</td>
		<td class="content">
			<span>[%= data[i].translator %]</span>
		</td>
		<td class="content">
			<span>[%= data[i].price %]</span>
		</td>
	</tr>
	[% } %]
</tbody>
</script>