<script type="text/ejs" id="article_04_todoProfile">


		<header class="main-header">
			<span class="header-span">教程（基本篇）</span>
			<h1 class="header-h1">04.todo小应用概要</h1>
		</header>
		<article>
			<h2 class="translate-cn">概要</h2>
			<h2 class="translate-jp hidden">概要</h2>

			<p class="translate-cn">
这一章节，我们利用hifive的数据模型和数据绑定功能，来制作一个TODO管理小应用 。<br>
这个小应用包含了显示TODO一览，以及每个TODO的详细内容。<br>
每一行一览包含：用来更改完成状态的checkbox、以及该TODO的内容。<br>
详细画面中会显示详细信息、登录日期和现在的完成状态，也可以对内容和状态进行更新。<br>
并且，可以通过一个删除按钮来删除当前显示的这一条TODO记录。

			</p>
			<p class="translate-jp hidden"> 
データモデル・データバインド機構を利用して、TODO管理アプリを作成します。<br>
TODOの一覧とそこで選択されたTODOの詳細を表示する欄で構成します。<br>
一覧の各行には未完か完了かステータスを変更できるチェックボックスとTODOの内容があり、<br>
詳細には登録日、内容とステータスが表示され、内容とステータスが変更できます。<br>
また、削除ボタンを押すことで現在詳細表示しているTODOを削除することができます。
 </p>

 			<h2 class="translate-cn"> 动作确认  </h2>
			<h2 class="translate-jp hidden"> 動作確認 </h2>

			<p class="translate-cn">
可以点击<a href="http://www.htmlhifive.com/ja/tutorial/todo/">这里</a>查看该应用。
			</p>
			<p class="translate-jp hidden">
今回作成するアプリケーションの完成品は<a href="http://www.htmlhifive.com/ja/tutorial/todo/">こちら</a>です。
			</p>	

			<img src="../img/todo.png" width="600" alt="todo.png">

			

		</article>
</script>