<script type="text/ejs" id="article_01_dataBindStructure">


<header class="main-header">
			<span class="header-span">教程（基本篇）</span>
			<h1 class="header-h1">01.关于数据绑定的结构</h1>
		</header>
		<article>
			<h2 class="translate-cn">结构</h2>
			<h2 class="translate-jp hidden">機構</h2>

			<p class="translate-cn">
在这个教程中，我们将学习hifive数据模型中用于支持数据绑定的机制。<br>
在hifive中，数据绑定是指，通过在JavaScript中对dataModel的操作来实现画面相应部分自动变更的机制。<br>
通过hifive中的数据绑定，可以让编码者只用将精力集中在JavaScript上，从而减少了代码量。<br>
同时，因为可以对视图的哪一部分对应着显示什么数据进行声明，所以也使得视图设计和代码分离开来。

			</p>
			<p class="translate-jp hidden"> 
このチュートリアルでは、hifiveのビュー層のサポートである「データバインド」機構について学習します。<br>
hifiveにおける「データバインド」は、データモデルをはじめとするJavaScript側のオブジェクトの変更を自動的に画面に反映させるための仕組みです。<br>
これを使用することで基本的な画面の書き換えを自動化できるため、プログラマはJavaScriptの記述に専念できるようになり、コード量が削減されます。<br>
また、ビューの記述ではどこにどのようにデータを出力するかを宣言的に記述できるため、ビューデザインとコードの分離が促進されます。<br>
 </p>

			

		</article>
</script>